@media (max-width: 768px) {
  .table-header, .table-footer {
    padding: 12px 15px;
  }
  
  .table-body {
    display: block;
    width: 100vw; 
    margin-left: -15px;
    padding: 0 15px;
  }

  .table-body table {
    min-width: 1250px;
  }
}

